<a href="https://colab.research.google.com/github/lyagmaia/full-stack/blob/main/nv3_estruturando_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
###Entrada de três números pelo usuário
n1 = input("Digite o primeiro número ")
n2 = input("Digite o segundo número ")
n3 = input("Digite o terceiro número ")

Digite o primeiro número 55
Digite o segundo número 44
Digite o terceiro número 22

In [2]:
print("Você digitou os números: "+n1,n2,n3)

Você digitou os números: 55 44 22

In [3]:
print([],[n1],[n2],[n3],[n1,n2],[n1,n3],[n2,n3],[n1,n2,n3])

[] ['55'] ['44'] ['22'] ['55', '44'] ['55', '22'] ['44', '22'] ['55', '44', '22']